<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
	</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div>
		<form method="POST" action="/posts">
			<label for="author">author</label>
			<input type='text' id="author" name="author" >
			<label for="loc">Location</label>
			<input type='text' id="loc" name="loc" >
			<button type="submit">Add</button>
		</form>
		</div>
</body>
</html> -->
