.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.landingimg {
	position: absolute;
	top: 80px;
	left: 400px;
	width: 600px;
	height: 900px;
	border: 1px solid #707070;
	opacity: 1;
}

.team {
	position: absolute;
	top: 401px;
	left: 1126px;
	width: 346px;
	height: 71px;
	text-align: left;
	font: normal normal normal 64px/71px Palatino Linotype;
	letter-spacing: 0px;
	color: #006238;
	opacity: 1;
	white-space: nowrap;
}

button {
	position: absolute;
	top: 508px;
	left: 1235px;
	width: 128px;
	height: 64px;
	background: #ffffff 0% 0% no-repeat padding-box;
	border: 3px solid #006238;
	border-radius: 16px;
	opacity: 1;
	text-align: center;
	font: normal normal normal 32px/39px Verdana;
	letter-spacing: 0px;
	color: #006238;
	cursor: pointer;
	outline: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
